{% extends 'base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'deps/css/style_catalog.css' %}">
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="menu-container">
        <div class="dropdown">
            <button class="orange-btn">Категории</button>
            <div class="dropdown-content">
                {% for category in categories %}
                    <a href="{% url 'menu:menu_by_category' category.slug %}">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="menu-theme-title">НАШЕ МЕНЮ</div>
    </div>
    <hr>
    <div class="dishes-items">
        {% if menu %}
            {% for product in menu %}
                <div class="dish-item">
                    <a href="{% url 'menu:product' product.slug %}" class="dish-link">
                        <div class="cart-image">
                            {% if product.image %}
                                <img src='{{ product.image.url }}' class="card-img-top" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <h3 class="dish-title font-roboto">{{ product.name|truncatechars:12 }}</h3>
                        <p class="dish-desc font-roboto">{{ product.description|truncatechars:17 }}</p>
                        <div class="dish-price font-roboto">{{ product.price }} ₽</div>
                    </a>
                    <button class="orange-btn orange-btn-marg-bl-10">Заказать</button>
                </div>
            {% endfor %}
        {% else %}
        <div class="menu-is-none font-roboto">
                К сожалению, в данной категории сейчас нет товаров
        </div>
        {% endif %}
    </div>
    <hr>
</div>
<!-- Пагинация -->
<!-- <div class="pagination">
    <button class="page-btn" id="prev-page">« Предыдущая</button>
    <span id="page-info">Страница 1 из 5</span>
    <button class="page-btn" id="next-page">Следующая »</button>
</div> -->
{% endblock %}