{% extends 'base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'deps/css/style_catalog.css' %}">
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="menu-theme-title">НАШЕ МЕНЮ</div>
    <hr>
    <div class="dishes-items">
        {% for product in menu %}
            <div class="dish-item">
                <div class="cart-image">
                    {% if product.image %}
                        <img src='{{ product.image.url }}' class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <a href="" class="dish-title font-roboto">{{ product.name|truncatechars:17}}</a>
                <p class="dish-desc font-roboto">{{ product.description|truncatechars:17}}</p>
                <div class="dish-price font-roboto">{{product.price}} ₽</div>
                <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
            </div>
        {% endfor %}
    </div>
    <hr>
</div>
<!-- Пагинация -->
<div class="pagination">
    <button class="page-btn" id="prev-page">« Предыдущая</button>
    <span id="page-info">Страница 1 из 5</span>
    <button class="page-btn" id="next-page">Следующая »</button>
</div>
{% endblock %}