{% extends 'base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'deps/css/style_catalog.css' %}">
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="menu-theme-title">НАШЕ МЕНЮ</div>
    <hr>
    <div class="dishes-items">
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-1.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Chicken Paella</a>
            <p class="dish-desc font-roboto limited-text">We just don't make and sell food.Good food warms.</p>
            <div class="dish-price font-roboto">5 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-2.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Taco Del Mar</a>
            <p class="dish-desc font-roboto limited-text">Taco Del Mar brings the best out of Mexican cuisine with fresh.</p>
            <div class="dish-price font-roboto">2 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-1.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Chicken Paella</a>
            <p class="dish-desc font-roboto limited-text">We just don't make and sell food.Good food warms.</p>
            <div class="dish-price font-roboto">5 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-2.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Taco Del Mar</a>
            <p class="dish-desc font-roboto limited-text">Taco Del Mar brings the best out of Mexican cuisine with fresh.</p>
            <div class="dish-price font-roboto">2 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
        <div class="dish-item">
            <div class="cart-image">
                <img src="{% static 'deps/images/menu-3.png' %}" alt="">
            </div>
            <a href="" class="dish-title font-roboto">Bon Au Pain</a>
            <p class="dish-desc font-roboto limited-text">Bon Au Pain is a pioneer in the healthy fast food scene.</p>
            <div class="dish-price font-roboto">3 $</div>
            <button class="orange-btn orange-btn-marg-bl-10">В корзину</button>
        </div>
    </div>
</div>
<!-- Пагинация -->
<div class="pagination">
    <button class="page-btn" id="prev-page">« Предыдущая</button>
    <span id="page-info">Страница 1 из 5</span>
    <button class="page-btn" id="next-page">Следующая »</button>
</div>
{% endblock %}