{% extends 'base.html' %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'deps/css/style_catalog.css' %}">
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="product-holder">
        <div class="product-item">
            <div class="cart-image">
                {% if product.image %}
                    <img src='{{ product.image.url }}' class="product-img-top" alt="{{ product.name }}">
                {% endif %}
            </div>
            <div class="product-info">
                <a href="#" class="dish-title font-roboto">{{ product.name }}</a>
                <p class="dish-desc font-roboto">{{ product.description}}</p>
                <div class="product-buttons">
                    <button class="orange-btn orange-btn-marg-bl-10">В корзину - {{ product.price }} ₽</button>
                    <a href="{% url 'menu:menu' %}" class="orange-btn">В меню</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}