.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Отступ между меню и заголовком */
}

.dropbtn {
    background-color: #f15f0a; /* Цвет кнопки */
    color: white; /* Цвет текста */
    padding: 10px; /* Отступы */
    font-size: 16px; /* Размер шрифта */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор при наведении */
    border-radius: 5px;
}

.dropdown-content {
    display: none; /* Скрыть меню по умолчанию */
    position: absolute; /* Позиционирование */
    background-color: #333; /* Цвет фона */
    min-width: 160px; /* Минимальная ширина */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Тень */
    z-index: 1; /* На переднем плане */
}

.dropdown-content a {
    font-family: Roboto;
    color: #fff; /* Цвет текста ссылок */
    padding: 12px 16px; /* Отступы */
    text-decoration: none; /* Убрать подчеркивание */
    display: block; /* Блоковые элементы */
    border-bottom: 1px solid #444;
}

.dropdown-content a:hover{
    background-color: #575757;
    color: #F6762C;
}


.dropdown:hover .dropdown-content {
    display: block; /* Показать меню при наведении */
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41; /* Цвет кнопки при наведении */
}

.menu-theme-title{
    font-family: Roboto;
    color: #fff;
    justify-self: center;
    font-size: 40px;
}

.font-roboto{
    font-family: Roboto;
}

.dishes-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /* Позволяет карточкам обтекать друг друга */
    overflow-y: auto; /* Позволяет вертикальную прокрутку */
    height: 600px; /* Высота контейнера для прокрутки */
    padding-bottom: 10px; /* Отступ снизу для удобства */
    scroll-behavior: smooth; /* Плавная прокрутка */
}

.dishes-items::-webkit-scrollbar {
    display: none; /* Скрываем вертикальный скроллбар для Chrome, Safari и Opera */
}

.dishes-items {
    -ms-overflow-style: none; /* Для Internet Explorer и Edge */
    scrollbar-width: none; /* Для Firefox */
}

.dish-item{
    width: 262px;
    height: auto;
    background-color: #312F30;
    border-radius: 7px;
    margin: 50px 20px;
}

.dish-item:hover{
    background-color: #242323;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

.card-img-top{
    border-radius: 5px;
}

.dish-link{
    text-decoration: none;
}

.dish-title{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}

.dish-title:hover{
    color: #f15f0a;
}

.dish-desc{
    color: #fff;
    margin-left: 10px;
}

.dish-price{
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
}

.orange-btn-marg-bl-10{
    margin-left: 10px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-btn {
    background-color: #f15f0a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

#page-info{
    color: #fff;
}

.page-btn:hover {
    background-color: #e14e0a;
}

.product-item{
    width: 800px; /* Ширина карточки */
    height: auto; /* Автоматическая высота */
    background-color: #312F30; /* Цвет фона */
    border-radius: 10px; /* Закругленные углы */
    margin: 50px 20px; /* Отступы */
    padding: 20px; /* Внутренние отступы */
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

/* Для мелких экранов, чтобы карточки занимали меньше пространства */
@media (max-width: 768px) {
    .dish-item {
        flex: 0 0 calc(50% - 20px); /* 2 карточки в ряд */
    }
}

@media (max-width: 480px) {
    .dish-item {
        flex: 0 0 100%; /* 1 карточка в ряд */
    }
}
