{% extends 'base.html' %}
{% load static %}

{% block header_content %}
<div class="header-down">
    <div class="container">
        <div class="header-holder">
            <div class="header-title">
                Адреса магазинов
            </div>
            <div class="header-desc">
                <ul>
                    <li>Парашютная улица, 3</li><br>
                    <li>Шуваловский проспект, 23/2</li><br>
                    <li>Лесной проспект, 25к1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <!-- начинается разметка footer -->
        <footer>
            <div class="container">
                <div class="footer-items">
                    <div class="footer-item-logo">
                        <div class="footer-logo-image">
                            <img class="footer-logo-img" src="{% static 'deps/images/logo.png' %}">
                        </div>
                        <div class="footer-email">
                            <div class="footer-email-image">
                                <img class="footer-email-img" src="{% static 'deps/images/email.png' %}">
                            </div>
                            <div class="footer-email-name">
                                fastfood_usa@gmail.com
                            </div>
                        </div>
                        <div class="footer-web">
                            <div class="footer-web-image">
                                <img class="footer-web-img" src="{% static 'deps/images/web.png' %}">
                            </div>
                            <div class="footer-web-name">
                                www.fastfood_usa.com
                            </div>
                        </div>
                    </div>
                    <div class="footer-item">
                        <ul>
                            <li><a class="footer-title">Our menu</a></li>
                            <li><a class="footer-other">Breakfast</a></li>
                            <li><a class="footer-other">Lunch</a></li>
                            <li><a class="footer-other">Dinner</a></li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <ul>
                            <li><a class="footer-title">Information</a></li>
                            <li><a class="footer-other">About us </a></li>
                            <li><a class="footer-other">Testimonial</a></li>
                            <li><a class="footer-other">Event</a></li>
                        </ul>
                    </div>
                    <div class="footer-item">
                        <ul>
                            <li><a class="footer-title">Useful Links</a></li>
                            <li><a class="footer-other">Services</a></li>
                            <li><a class="footer-other">Support</a></li>
                            <li><a class="footer-other">Conditions</a></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <div class="footer-title">
                            Social Handles
                        </div>
                        <div class="footer-social-logo">
                            <div class="footer-facebook-image">
                                <img class="footer-social-img" src="{% static 'deps/images/twitter.png' %}">
                            </div>
                            <div class="footer-twitter-image">
                                <img class="footer-social-img" src="{% static 'deps/images/twitter.png' %}">
                            </div>
                            <div class="footer-inst-image">
                                <img class="footer-social-img" src="{% static 'deps/images/instagram.png' %}">
                            </div>
                            <div class="footer-in-image">
                                <img class="footer-social-img" src="{% static 'deps/images/linkedin.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- заканчивается footer -->
{% endblock %}